<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recommendations</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<h2 th:text="#{ai.powered.recommendations}" >AI-Powered Recommendations</h2>
<div class="table-container" th:if="${recommendations}">
    <table id="event-table">
        <thead>
        <tr class="header-row">
            <th th:text="#{category}" >Category</th>
            <th th:text="#{product}" >Product</th>
            <th th:text="#{description}" >Description</th>
            <th th:text="#{link}" >Link</th>
        </tr>
        </thead>
        <tbody>
        <tr class="header-row" th:each="rec : ${recommendations}">
            <td th:text="${rec.recommendationCategory}">Category</td>
            <td th:text="${rec.recommendationProductName}">Product</td>
            <td th:text="${rec.recommendationProductDescription}">Description</td>
            <td><a th:href="${rec.recommendationProductLink}" target="_blank">Link</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:if="${#lists.isEmpty(recommendations)}">
    <p th:text="#{no.rec.available}" >No recommendations available at the moment.</p>
</div>
</body>
</html>
