<!-- templates/admin/dashboard.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments/header"></div>

<h2 th:text="#{welcome.to.admin.dash}" >Welcome to the Admin Dashboard!</h2>
<p class="select-text" th:text="#{SectionSelection}">ADMIN:</p>
<nav class="link-box">
    <ul role="menu">
        <li><a th:href="@{/users}" th:text="#{Users}">Users</a></li>
        <li><a th:href="@{/participants}" th:text="#{Participants}">Participants</a></li>
        <li><a th:href="@{/reminders}" th:text="#{Reminders}">Reminders</a></li>
        <li><a th:href="@{/cats}" th:text="#{Cats}">Cats</a></li>
    </ul>
</nav>
</body>
</html>
