<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catinder - Create Event</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments/header"></div>
<div class="form-container">
    <h2 th:text="#{create.event}" >Create event</h2>
    <form th:action="@{/events/add}"
          th:object="${event}"
          th:method="post">

        <div class="form-row">
            <label th:text="#{event.name.with.colon}" for="eventName">Event Name:</label>
            <input type="text" id="eventName" name="eventName" th:placeholder="#{event.name.placeholder}" required class="form-control"/>
        </div>
        <div class="form-row">
            <label th:text="#{event.description}" for="eventDescription">Event Description:</label>
            <textarea id="eventDescription" name="eventDescription" rows="4" th:placeholder="#{event.desc.placeholder}" required class="form-control"></textarea>
        </div>
        <div class="form-row">
            <label th:text="#{event.location.with.colon}" for="eventLocation">Event Location:</label>
            <input type="text" id="eventLocation" name="eventLocation" th:placeholder="#{event.location.placeholder}" required class="form-control"/>
        </div>
        <div class="form-row">
            <label th:text="#{event.date.and.time.with.colon}" for="eventDateTime">Event Date and Time:</label>
            <input type="datetime-local" id="eventDateTime" name="eventDateTime" th:value="${formattedEventDateTime}"/>
        </div>
        <div class="form-row">
            <button th:text="#{create.event}" type="submit" >Create Event</button>
        </div>
    </form>
</div>
<div id="success-message" th:if="${success}" th:text="${success}"></div>
<div th:if="${error}" th:text="${error}">
    There was an error while trying to create your event.
</div>
<script>
    // Hide message after 5 seconds
    setTimeout(function () {
        var successContent = document.querySelector('#successMessage');
        if (successContent) {
            successContent.style.opacity = '0';
        }
    }, 5000);
</script>
</body>
</html>
