<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catinder - Cat Photos</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <style>
        body { text-align: center; }
        .photo { margin: 10px; }
        img { max-width: 300px; border-radius: 10px; }
    </style>
</head>
<body>

<h1>Cat photos</h1>

<div>
    <ul>
        <!-- Thymeleaf loopar igenom alla bilder -->
        <li th:each="catPhoto : ${catPhotos}" class="photo">
            <img th:src="${catPhoto.catPhotoUrl}" alt="Kattbild">
            <p th:text="${catPhoto.catPhotoCaption}"></p>
        </li>
    </ul>
</div>

</body>
</html>
