<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catinder - Cats</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments/header"></div>

<h1 th:text="#{cat.photos.h1}" >Cat photos</h1>

<div>
    <ul>
        <!-- Thymeleaf loopar igenom alla bilder -->
        <li th:each="catPhoto : ${catPhotos}" class="photo">
            <img th:src="${catPhoto.catPhotoUrl}" alt="Kattbild">
            <p th:text="${catPhoto.catPhotoCaption}"></p>
        </li>
    </ul>
</div>

</body>
</html>
