<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catinder - Posts</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="header-nav">
    <a class="submit create-button" th:href="@{/posts/add}">
        <span>Create New Post</span>
    </a>
</div>

<h2>Cat Posts</h2>
<div th:if="${#lists.isEmpty(posts)}">
    <p>No posts have been added yet.</p>
</div>
<div th:if="${!#lists.isEmpty(posts)}">
    <ul>
        <li th:each="post : ${posts}">
            <div>
                <p><strong>Text:</strong> <span th:text="${post.postText}">Post text</span></p>
                <p th:if="${post.postImageUrl}">
                    <img th:src="${post.postImageUrl}" alt="Image" width="200"/>
                </p>
                <p><strong>Created:</strong>
                    <span th:text="${#temporals.format(post.postCreatedAt, 'yyyy-MM-dd HH:mm')}">Date</span>
                </p>
                <hr/>
            </div>
        </li>
    </ul>
</div>

</body>
</html>
