<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catinder - Users</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments/header"></div>
<h2 th:text="#{Users}">Users:</h2>
<div th:if="${message}">
    <p th:text="${message}"></p>
</div>
<div class="table-container">
    <table id="user-table" th:if="${users}">
        <tr class="header-row">
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Full name</th>
        </tr>
        <tr class="data-row" th:each="user, iterStat : ${users}">
            <td>
                <a th:href="@{/users/profile/id/{id}(id=${user.userId})}"
                   th:text="${user.userId}">User Details</a>
            </td>
            <td>
                <a th:href="@{/users/profile/id/{id}(id=${user.userId})}"
                   th:text="${user.userName}">User Details</a>
            </td>
            <td>
                <a th:href="@{/users/profile/id/{id}(id=${user.userId})}"
                   th:text="${user.userEmail}">User Details</a>
            </td>
            <td>
                <a th:href="@{/users/profile/id/{id}(id=${user.userId})}"
                   th:text="${user.userFullName}">User Details</a>
            </td>
        </tr>
    </table>
</div>

</body>
</html>
