<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Catinder - Add User</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments/header"></div>
<div class="form-container">
    <h2 th:text="#{new.user}">New user:</h2>
    <form th:if="${user.userId == null}" th:action="@{/users/add}" th:object="${user}" th:method="post">

        <div class="form-row">
            <label for="userName" th:text="#{username}">Username:</label>
            <input type="text" id="userName" th:field="*{userName}" required/>
        </div>
        <div class="form-row">
            <label for="userFullName" th:text="#{full.name}">Full name:</label>
            <input type="text" id="userFullName" th:field="*{userFullName}"/>
        </div>
        <div class="form-row">
            <label for="userEmail" th:text="#{email}">Email:</label>
            <input type="email" id="userEmail" th:field="*{userEmail}"/>
        </div>
        <div class="form-row">
            <label for="userLocation" th:text="#{location}">Location:</label>
            <input type="text" id="userLocation" th:field="*{userLocation}"/>
        </div>
        <div class="form-row">
            <label for="userRole" th:text="#{authority}">Authority:</label>
            <input type="text" id="userRole" th:field="*{userRole}"/>
        </div>
        <div class="form-row">
            <label for="userAuthProvider" th:text="#{social.login}">Social login:</label>
            <input type="text" id="userAuthProvider" th:field="*{userAuthProvider}" />
        </div>
        <div class="form-row">
            <button type="submit" th:text="#{create.account}">Create Account</button>
        </div>
    </form>
</div>
<div class="success-message" th:if="${success}" th:text="${success}"></div>
<div th:if="${error}"  th:text="#{error.while.creating.acc}">
    There was an error while trying to create your account.
</div>
</body>
</html>
