<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Catinder - User</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments/header"></div>
<h2 th:text="#{user.details}">User Details:</h2>
<div>
    <p><strong th:text="#{user.id}">User ID:</strong> <span th:text="${user.userId}"></span></p>
    <p><strong th:text="#{username}">User Name:</strong> <span th:text="${user.userName}"></span></p>
    <p><strong th:text="#{full.name}">Full Name:</strong> <span th:text="${user.userFullName}"></span></p>
    <p><strong th:text="#{email}">Email:</strong> <span th:text="${user.userEmail}"></span></p>
    <p><strong th:text="#{location}">Location:</strong> <span th:text="${user.userLocation}"></span></p>
    <!-- Cats -->
    <p><strong th:text="#{household}">Household:</strong> <span th:text="${user.userCats}"></span></p>

</div>
</body>
</html>
