<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <div class="header-left">
        <h1><span class="cat-emoji">🐱</span>Catinder</h1>
        <a class="about-link" th:href="@{/about}">About</a>
    </div>
    <div class="header-right">
        <button class="lang-button" aria-label="Change language" title="Change language">
            &#127760; Language
        </button>
        <form th:action="@{/logout}" method="post" style="display: inline;">
            <!-- Todo: Include CSRF token later -->
            <!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> -->
            <button type="submit" class="logout-button" title="Logout">Logout</button>
        </form>
    </div>
</header>
</html>
