<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catinder - Contact</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
<div th:replace="fragments/header"></div>
<div class="contact-content">
    <h2>Meet the Team</h2>
    <ul class="contact-list">
        <li>
            <a href="https://github.com/Minhya" target="_blank" rel="noopener">
                🐱   Anna Nguyen
            </a>
        </li>
        <li>
            <a href="https://github.com/ehottinen" target="_blank" rel="noopener">
                🐱   Eva Hottinen
            </a>
        </li>
        <li>
            <a href="https://github.com/JenDevs" target="_blank" rel="noopener">
                🐱   Jenny Magnusson
            </a>
        </li>
        <li>
            <a href="https://github.com/linusaltemark" target="_blank" rel="noopener">
                🐱   Linus Altemark
            </a>
        </li>
        <li>
            <a href="https://github.com/malvamalmgren" target="_blank" rel="noopener">
                🐱   Malva Malmgren
            </a>
        </li>
    </ul>
</div>


</body>
</html>
