<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6"
      th:lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catinder - Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments/header"></div>

<div id="successMessage" class="success-message" th:if="${delete_success}" th:text="#{UserDeleteSuccessTranslated}"></div>

<!--TO ADMIN DASHBOARD-->
<a sec:authorize="hasRole('ADMIN')"
   th:href="@{/admin/dashboard}"
   class="nav-button admin-button">
    <img class="header-choice" src="/images/security.png" alt="Admin"/>
    <span>Admin Dashboard</span>
</a>
<!--HANDLE CATS BUTTON-->
<div sec:authorize="isAuthenticated()" class="header-nav">
    <a class="submit create-button" th:href="@{/cats}">
        <span th:text="#{handle.your.cats}">Handle cats</span>
    </a>
</div>


<div sec:authorize="isAuthenticated()" class="slideshow-container catPhotos-container">
    <div class="mySlides fade" th:each="photo : ${catPhotos}">
        <div class="image‐wrapper">
            <img th:src="@{${photo.catPhotoUrl}}"
                 th:alt="${photo.catPhotoCaption} ?: 'Cat photo'"/>
        </div>
        <div class="cat-details">
            <p style="font-size: 22px"><strong> <span
                    th:text="${photo.catPhotoCat.catName} + ', ' + ${photo.catPhotoCat.catAge}"></span></strong></p>
            <p><strong th:text="#{cat.breed} + ': '">Breed:</strong> <span
                    th:text="${photo.catPhotoCat.catBreed}"></span></p>
            <p><strong th:text="#{cat.gender} + ': '">Gender:</strong> <span
                    th:text="${photo.catPhotoCat.catGender}"></span></p>
            <p><strong th:text="#{cat.personality} + ': '">Personality:</strong> <span
                    th:text="${photo.catPhotoCat.catPersonality}"></span></p>
        </div>
    </div>
    <a class="prev" onclick="plusSlides(-1)">❮</a>
    <a class="next" onclick="plusSlides(1)">❯</a>
</div>
<div sec:authorize="!isAuthenticated()" style="margin-top: 8%">
    <h2>Welcome!</h2>
    <p>Please click the login-button to sign in/create an account!</p>
</div>

<script>
    setTimeout(function () {
        var successMsg = document.getElementById('successMessage');
        if (successMsg) {
            successMsg.style.display = 'none';
        }
    }, 5000);
    let slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }
</script>
</body>
</html>
