<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
        <meta charset="UTF-8">
        <title>Cat List</title>
</head>
<body>
<h1>Cat List</h1>
<a href="/cats/new">Add New Cat</a>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Breed</th>
        <th>Age</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cat : ${cats}">
        <td th:text="${cat.catId}"></td>
        <td th:text="${cat.catName}"></td>
        <td th:text="${cat.catBreed}"></td>
        <td th:text="${cat.catAge}"></td>
        <td>
            <a th:href="@{'/cats/' + ${cat.catId}}">View</a> |
            <a th:href="@{'/cats/' + ${cat.catId} + '/edit'}">Edit</a> |
            <a th:href="@{'/cats/' + ${cat.catId} + '/delete'}" onclick="return confirm('Are you sure?');">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>