<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catinder - Cats</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments/header"></div>
<h2 th:text="#{Cats}">Cats</h2>
<div class="header-nav">
    <a class="submit create-button" th:href="@{/cats/new}">
        <span th:text="#{add.new.cat}">Add New Cat</span>
    </a>
</div>
<div class="table-container">
    <table id="cats-table">
        <thead>
        <!-- Add a specific class (header-row) for styling the header row -->
        <tr class="header-row">
            <th th:text="#{cat.name}">Name</th>
            <th th:text="#{cat.breed}">Breed</th>
            <th th:text="#{cat.age}">Age</th>
            <th th:text="#{cat.actions}">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr class="data-row" th:each="cat : ${cats}">
            <td th:text="${cat.catName}">Cat Name</td>
            <td th:text="${cat.catBreed}">Breed</td>
            <td th:text="${cat.catAge}">Age</td>

            <td>
                <a th:text="#{view}" th:href="@{'/cats/' + ${cat.catId}}">View</a> |
                <a th:text="#{edit}" th:href="@{'/cats/' + ${cat.catId} + '/edit'}">Edit</a> |
                <!-- Use a form for deletion -->
                <form th:action="@{/cats/{catId}/delete(catId=${cat.catId})}" th:method="delete" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this cat?');">
                    <button type="submit" class="delete-button" th:text="#{delete}">Delete</button>
                </form>
            </td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
