<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Catinder - Error</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>

<div th:replace="fragments/header"></div>

<h2 th:text="#{oops.something.went.wrong}">Oops! Something went wrong.</h2>

<!--Kolla om jag kan replace unexpected error med översättningen-->
<div th:text="#{unexpected.error}" class="error-message">
    <p th:text="${error}">An unexpected error occurred. Please try again later.</p>
</div>

<div style="margin-top: 20px;">
    <a th:text="#{back.to.homepage}" th:href="@{/}" class="btn btn-primary">Back to Homepage</a>
</div>

</body>
</html>

event-participation: <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.participants.for.event}" >Catinder - Participants for Event</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>

<div th:replace="fragments/header"></div>

<h2 th:text="#{participants.for.selected.event}" >Participants for Selected Event</h2>

<div th:if="${#lists.isEmpty(participants)}">
    <p th:text="#{event.no.participants}" >This event has no participants.</p>
</div>

<div th:unless="${#lists.isEmpty(participants)}">
    <ul>
        <li th:each="p : ${participants}" th:text="|${p.user.userName} (${p.user.userEmail})|"></li>
    </ul>
</div>

</body>
</html>


