<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Catinder - Add Participant</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>

<div th:replace="fragments/header"></div>

<div class="form-container">
    <h2>Add participant:</h2>

    <form th:action="@{/participants/add}" method="post">

        <div class="form-row">
            <label for="userName">User Name:</label>
            <input type="text" id="userName" name="userName" required/>
        </div>

        <div class="form-row">
            <label for="eventName">Event Name:</label>
            <input type="text" id="eventName" name="eventName" required/>
        </div>

        <div class="form-row">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>

<div th:if="${success}" class="success-message">
    <p th:text="${success}"></p>
</div>

<div th:if="${error}" class="error-message">
    <p th:text="${error}"></p>
</div>

</body>
</html>

